* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: black;
}

.content {
  margin-left: 55px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}

.video-card {
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.03);
}

.video-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #888;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.video-info {
  display: flex;
}

.channel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #065fd4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-weight: bold;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.video-details {
  flex: 1;
}

.video-title {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
  color: #bebebe;
  display: '-webkit-box';
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.channel-name {
  font-size: 14px;
  color: #747474;
  margin-bottom: 4px;
}

.video-stats {
  font-size: 14px;
  color: #747474;
}

@media (max-width: 1200px) {
    .content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 1096px) {
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 72px;
    }
  
    .sidebar-item span {
      display: none;
    }
  
    .sidebar-icon {
      margin-right: 0;
    }
  }


  @media (max-width: 698px) {
    .content {
      grid-template-columns: 1fr;
    }
  }